<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<a href="/home/new">글쓰러가기</a>

<% @post.each do |x| %>
<hr>
    제목:<a href ="/home/show/<%=x.id%>"><%=x.title %></a><br/>
    내용:<%= x.content %><br/>
</hr>
<% end %>

<hr>


<form action="/home/index">
  <input type="text" name="search" placeholder="검색할 제목을 입력하세요"><br>
  <input type="submit" value="제출">
</form>



<% if @select.present? %>
    <% @select.each do |x| %>
        <%= x.title %>
        <%= x.content %>
    <% end %>
<%else%>
    <%= "검색한 결과가 없습니다." %>
    <%end%>

    